/* reset ~ */
body {
  margin: 0;
  padding: 0;
}
ul, 
ol {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

/* ~ reset */

.header {
  height: 72px;
  background-color: #fff;
  border-bottom: 1px solid rgba(173, 173, 173, 0.25);
}
.nav-list {
  display: flex;
  align-items: center;
  max-width: 1080px;
  height: 72px;
  margin: 0 auto;
}
.nav-list-item {
  padding: 20px;
  font-size: 16px;
  color: #253D4E;
}
.nav-list-item.is-active {
  color: #3BB77E;
}
.container {
  max-width: 1080px;
  margin: 200px auto 0;
}
.main-title {
  font-size: 55px;
  color: #253D4E;
}
.main-desc {
  font-size: 20px;
  color: #838383;
}
.sub-title {
  margin-bottom: 37px;
  font-size: 37px;
  font-weight: normal;
}
.product-list {
  display: flex;
}
.product-list-item {
  width: 228px;
  margin-right: 15px;
  border: 1px solid rgba(173, 173, 173, 0.25);
  border-radius: 3px;
  background-color: #fff;
}
.product-list-item:last-child {
  margin-right: 0;
}
.product-image img {
  width: 224px;
}
.product-text {
  padding: 10px;
  border-top: 1px solid rgba(173, 173, 173, 0.25);
}
.product-title {
  margin-bottom: 15px;
}
.product-price {
  font-size: 18px;
  color: #3BB77E;
}

