/* reset ~ */
body {
  margin: 0;
  padding: 0;
}
ul, 
ol {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
/* ~ reset */

.header {
  height: 72px;
  background-color: #fff;
  border-bottom: 1px solid rgba(173, 173, 173, 0.25);
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 72px;
  margin: 0 auto;
}
.nav-item {
  padding: 20px;
  font-size: 16px;
  color: #253D4E;
}
.nav-item.active {
  font-weight: bold;
  color: #3BB77E;
}
.container {
  max-width: 1200px;
  margin: 200px auto 0;
}
.main-title {
  font-size: 55px;
  color: #253D4E;
}
.main-desc {
  font-size: 20px;
  color: #838383;
}
.sub-title {
  margin-bottom: 37px;
  font-size: 37px;
  font-weight: normal;
}
.product-list {
  display: flex;
}
.product-item {
  flex-shrink: 0;
  width: 228px;
  margin-right: 15px !important; 
  border-radius: 3px;
  background-color: #fff;
  box-sizing: border-box;
}
.product-item:last-child {
  margin-right: 0;
}
.product-item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(173, 173, 173, 0.25);
}
.product-image {
  position: relative;
  width: 228px;
}
.product-image img {
  display: block;
  width: 100%;
}
.product-text {
  padding: 10px;
  border-top: 1px solid rgba(173, 173, 173, 0.25);
}
.product-list .product-title {
  margin-bottom: 15px;
}
.product-list .product-price {
  font-size: 18px;
  color: #3BB77E;
}
.product-list .button-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 33px;
  border-radius: 2px;
  background-color: #DEF9EC;
  color: #3BB77E;
  text-align: center;
}
.icon-cart {
   margin-right: 5px;
}
.icon-cart img {
  display: block;
  width: 12px;
  height: 12px;
}
.product-quantity {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.25);
}
.cart-list .product-title {
  flex-basis: 80%;
  color: #253D4E;
}
.cart-list .quantity {
  color: #253D4E;
}
.cart-list .product-price {
  margin-left: 70px;
  font-size: 18px;
  color: #3BB77E
}
.button-quantity {
  width:23px;
  height: 23px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}
.button-quantity.plus {
  background-color: #3BB77E;
  color: #fff;
}
.button-quantity.minus {
  background-color: #F4F6FA;
  color: #777;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  font-size: 18px;
  background-color: #C5EAD9;
  color: #253D4E;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Swiper 스타일 변경 */
.product-list .swiper-button-next {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #F2F3F4 url("../public/icon_arrow_right.png") no-repeat 50% 50%;
  background-size: 24px 24px;
}
.product-list .swiper-button-prev {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #F2F3F4 url("../public/icon_arrow_left.png") no-repeat 50% 50%;
  background-size: 24px 24px;
}

